html{
    box-sizing:border-box;
}

*, *:before, *:after{
    box-sizing:inherit;
}

h5, h1, p, img{
    margin: 0;
    font-family: 'Inter', sans-serif;
}



body{
    display: flex;
     align-items: center;
      justify-content: center; 
      min-height: 100vh; 
      flex-direction: column; 
      background-color: var(--VeryDarkBlue);
      color: black;
      font-family: 'Inter', sans-serif;
}

#project-container{
    width: 50%;
    margin-left: 240px;
    display: grid;
    grid-template-areas: 
    "A B C"
    "D E F";
    gap: 30px;
    padding-bottom: 30px;
}

.project{
    width: 320px;
    height: 320px;
    background-color: skyblue;
}

#project-1{
    grid-area: A;
    background-image: url(images/who-are-we-screen.png);
}
#project-2{
    grid-area: B;
    background-image: url(images/horifically-beautiful-screen.png);

}
#project-3{
    grid-area: C;
    background-image: url(images/murder-mystery-screen.png);

}
#project-4{
    grid-area: D;
    background-color: white;

}
#project-5{
    grid-area: E;
    background-color: white;


}
#project-6{
    grid-area: F;
    background-color: white;


}

#container{
    width: 100%;
}

#header-container{
    width: 100%;
    padding-bottom: 60px;
}

#name-container{
    display: inline-block;
}

#nav-container{
    display: inline-block;
    padding-left: 930px;
}

.nav-item{
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
}

#name-1{
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    width: 160px;
}

#name-2{
    font-size: 15px;
    display: inline-block;
}

#divider{
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: 'Inter', sans-serif;
}

#divider-line{
    height: 1px;
    width: 1400px;
    background-color: black;
}

.project{
    -webkit-filter: brightness(100%);
    transition: all 1s ease-in-out;
}

#title{
    font-weight: 200;
    font-size: 50px;
    font-family: 'Inter', sans-serif;

}

.project:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;

    cursor: pointer;
}
